<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的-->

<mapper namespace="com.foxhis.mapping.UserMapper">

<!-- 在select标签上设置查询语句
   设置select标签的属性id，其中id代表唯一标志该查询语句
 parameterType指明白参数的类型    
 resultType为返回的类型 com.foxhis.entity.User为查询返回的一个实体-->
 
 <resultMap type="User" id="UserMap"> 
    <result property="username" column="username"/>
    <result property="pass" column="password"/>
  
 </resultMap>

 <select id="findUserByNameAndPass" parameterType="User" resultMap="UserMap">
         <!--  select * from users where id=#{id} -->
   select * from username where username=#{username} and password=#{pass}
 </select>
 
 <insert  id="registerUserByNameAndPass" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    insert into username (username, password) values( #{username}, #{pass} ) 
 </insert>
</mapper>
